[2017-05-16 01:51] nitramiz opened #1 "Incorrect export/import"
After making a trade between test1 and test2, the export file didn't contain the changes in the accounts. Stocks and cash remained unchanged.
Test1 and test2's views had changed stock and cash amounts, but the csv had default values (20 stocks, 330 cash).
Balances didn't change after importing the exported file with the default (wrong) values - the balances for test1 and test2 were what they were

[2017-05-24 12:51] nitramiz commented on #1
Checked to see if bug persists, it does. Tried exporting a file while market is still open, while paused and after being stopped, same thing - no change in balances in csv.
It is under marketplaces #29 (from URL - marketplaces/29).
Tried in marketplace 28 - incorrect csv and test1 and test2 balances after a couple of trades from UI.

[2017-05-24 12:54] nitramiz opened #2 "Incorrect number of units after a trade"
On the right-hand side (under All/Mine), the number of completed order units is incorrect. After one trade, with one stock - Units says 2. Same in all views - dev, test1 and test2.
The two should be a one.
![image](https://cloud.githubusercontent.com/assets/16788093/26404042/370917ae-4099-11e7-93cf-3ff39c1a7d54.png)

[2017-05-29 04:49] nitinef opened #3 "Acceptance of orders with incorrect price"
The server accepts orders with prices that do not adhere to the price increment setting of the market.

[2017-05-29 23:19] nitinef opened #4 "Restricted access for new manager accounts"
Newly approved manager accounts are unable to access the manager functionality (i.e., the creation of new marketplaces) after immediate login.  The issue seems to be in the cache mechanism.

[2017-06-03 21:24] JanStureNielsen commented on #2
Thanks for the bug report -- this has now been fixed and deployed. The root cause of was that both sides of a trade are returned to the client to allow the client to choose which side to display. But the client didn't filter one side resulting in double counting.

[2017-06-03 21:24] #2 closed, assigned to JanStureNielsen

[2017-06-05 15:16] ywhcuhk opened #5 "Can't submit order with price at $0.00"
The system will reject the order when buying or selling at the price of $0. This is not necessarily wrong or a bug. But in some occasions, we ask the participants to submit at $0 if they are not willing to pay for something just to fill the data point.

We can always set the minimum tick at 1 cent if we don't want to have $0 price. So I think with $0 allowed, there is more flexibility.

[2017-06-05 16:22] JanStureNielsen commented on #5
Good point, @ywhuofu -- any concerns with this @asparouhova and @pbossaerts?

[2017-06-05 21:55] JanStureNielsen commented on #4
Resolved with a cache purge.

[2017-06-05 21:55] #4 closed, assigned to JanStureNielsen

[2017-06-06 13:48] JanStureNielsen commented on #1
I'm not able to reproduce this, @nitram-iz -- can you provide additional details? Here's my test. In a new marketplace "dev@dev" placed a single SELL order for 1 unit at $5.00. The export correctly showed:

![image](https://cloud.githubusercontent.com/assets/4248566/26832152/cc2cc834-4a8b-11e7-8796-db603f228ae3.png)

with no changes in settled cash and assets (since there is no trade):

![image](h

[2017-06-06 13:50] JanStureNielsen commented on #1
Please re-open with steps to reproduce the export problem, @nitram-iz.

I have focused this issue on the first issue you reported above: "export file didn't contain the changes in the accounts". You included a second issue which I have ignored -- for traceability, please report only a single issue per GitHub issue. If you can reproduce the import issue, please open a new issue on that with the ste

[2017-06-06 13:50] #1 closed, assigned to nitramiz

[2017-06-06 14:03] JanStureNielsen commented on #1
I have focused this issue on the first issue you reported: "export file didn't contain the changes in the accounts". You included a second issue which I have ignored -- for traceability, please report only a single issue per GitHub issue. If you can reproduce the import issue, please open a new issue on that with the steps to reproduce.

[2017-06-06 14:38] JanStureNielsen commented on #5
You can now submit orders at or above the minimum price specified in the market, including zero.

[2017-06-06 14:38] #5 closed, assigned to JanStureNielsen

[2017-06-06 14:39] JanStureNielsen commented on #3
The submitted order price validation now includes tick size.

[2017-06-06 14:39] #3 closed, assigned to JanStureNielsen

[2017-06-21 11:53] nitinef opened #6 "Missing currentSession and currentHolding on /marketplace/{id}"
The response on querying a `/marketplace/{id}` is missing `currentSession` and `currentHolding`.

[2017-06-21 11:55] JanStureNielsen commented on #6
What's the complete URL, @nitinef? Do you know about when this started failing?

[2017-06-21 11:57] nitinef commented on #6
I am querying https://guarded-ridge-89710.herokuapp.com/api/marketplaces/33. It was working fine 8 hours ago.

[2017-06-22 00:16] nitinef opened #7 "Missing ordersAvailable and ordersCompleted on /markets/{id}"
On querying market url (e.g., https://guarded-ridge-89710.herokuapp.com/api/markets/58), the key-value pairs for `ordersAvailable` and `ordersCompleted` are no longer available under `_links`.

[2017-06-24 20:16] JanStureNielsen commented on #6
Back-end now fixed to address this.

[2017-06-24 20:16] #6 closed, assigned to JanStureNielsen

[2017-06-24 20:16] JanStureNielsen commented on #7
https://guarded-ridge-89710.herokuapp.com/api/marketplaces

[2017-06-24 20:16] #7 closed, assigned to JanStureNielsen

[2017-07-06 01:35] nitinef opened #8 "FM Server throws application error via API"
Case: A simple robot sends an order every second and cancels them after two seconds. After a few minutes, the server sends the following error response.
[code]

[2017-07-06 20:31] JanStureNielsen commented on #8
Look like connection leak:

[code]

[2017-07-08 22:22] JanStureNielsen commented on #8
@nitinef -- are you only running a single robot when this happens? At one order per second, a "few minutes" is likely less than 1000 LIMIT orders + 1000 CANCEL orders, right?

[2017-07-08 22:32] JanStureNielsen commented on #8
The root cause of this is null pointer exception caused by not validating the existence of the target of a CANCEL order.

When submitting a LIMIT order, an order is verified, saved, and processed. In between the save and processed stage, clients are notified of the order's existence which allows a client to submit a CANCEL order. This is a performance optimization which results in a race-condition

[2017-07-09 14:47] #8 closed, assigned to JanStureNielsen

[2017-07-09 23:58] nitinef commented on #8
Yes. I am running a single robot with regular polling of order book and
marketplace status.

On Sun, Jul 9, 2017 at 8:22 AM, Jan Nielsen <notifications@github.com>
wrote:

[2017-07-10 00:10] nitinef opened #9 "FM Server throws application error via API"
Case: A single robot sends an order every second and cancels them after two seconds. After a few minutes, the server sends the following error response. The robot is polling order book, holdings, and marketplace status data every 1, 0.5, and 0.5 sec, respectively.
[code]

[2017-07-10 00:19] JanStureNielsen commented on #9
Is this a robot I can run? Is the source checked-in?

[2017-07-10 00:21] nitinef commented on #9
I'll check in the source code today to a repo and share with you.

[2017-07-10 00:41] JanStureNielsen commented on #9
[code]

[2017-08-25 17:57] ywhcuhk opened #10 "Repeated trader refreshes can open a closed market"
In a closed marketplace, if I refresh the browser multiple times, I will get into the page where I can submit orders. I got two screenshots, one is when the market is showing closed:

![1](https://user-images.githubusercontent.com/4349929/29726314-3d744116-899d-11e7-82c0-c6147d1c0ce3.png)

and the other is when I refresh browser multiple times and got into the market and submitted a sell order:

!

[2017-08-25 18:09] JanStureNielsen commented on #9
As I understand it, we have now run several of these with success, so closing now. @nitinef re-open if you disagree.

[2017-08-25 18:09] #9 closed, assigned to JanStureNielsen

[2017-08-25 18:22] JanStureNielsen commented on #10
I reproduced this on Heroku in the dev account with `test0` -- after repeated refreshed in a closed marketplace, the marketplace is opened. The good news it that the improved performance development branch is not susceptible to this bug so this bug won't be reproducible after these performance enhancements are completed next week. I'll keep this open until that's deployed.

[2017-09-13 14:32] JanStureNielsen commented on #10
This is no longer possible.

[2017-09-13 14:32] #10 closed, assigned to JanStureNielsen

[2017-12-15 21:13] nitramiz opened #11 "Users.csv file can update password account password (MANAGER_ROLE)"
Jason downloaded his users.csv file to add test accounts and by accident put "password" in his password field, which changed his account's password. Not sure if this should be happening.

[2017-12-15 22:00] nitramiz opened #12 "Management of a marketplace (e.g. 159) from different accounts"
Dylan and I were playing around with our own SSW bots in our own separate accounts, but we were both having issues with starting/pausing our individual markets. I realized that I was in the wrong marketplace (Dylan's market's id of 159, rather than mine 153), but I was logged in with the dev account and I was trying to start/pause "my" market, thinking that it was my account's market and he was do

[2017-12-15 22:02] nitramiz opened #13 "Test accounts can view marketplaces they're not a part of"
Test accounts can go to every single marketplace, even if they've not been added as traders to the marketplace while it was being created. The test accounts that were not added initially can just view the market, but they don't have any cash/units.
This can be replicated by changing the marketplace id again in the URL from a test account.
Tested by viewing Dylan's market (159) with a test33 accoun

[2018-01-05 03:55] nitinef opened #14 "FM-UI shows incorrectly shows an open marketplace as closed."
The web ui shows a marketplace as closed when it is actually open (can see the session is open and send orders through fm-shell). Sometimes on refreshing the page the marketplace is correctly reloaded. Tested with clearing history, cache and restarting the browser.

![screen shot 2018-01-05 at 14 48 33](https://user-images.githubusercontent.com/2361597/34594858-aff53036-f227-11e7-9444-dc1c065d4051

[2018-07-16 05:17] darkfishy opened #15 "AdHoc Markets: Internal Server Error on fetching Current Session and Current Holding"
Created a new marketplace with 2 markets. Then used following API endpoints, both resulting in same error, irrespective of whether using a web browser or Python client.

[code]

Error:
[code]

Response Headers:
[code]

[2018-07-16 05:22] darkfishy commented on #15
Also, the marketplace is entirely new and no sessions were started. `https://fm-data.herokuapp.com/api/marketplaces/304/sessions` will give an empty `sessions` list.

[2018-07-16 05:33] darkfishy commented on #15
List of endpoints with related error, likely due to empty session and/or market/orderbook.
- https://fm-data.herokuapp.com/api/markets/590/private-traders
- https://fm-data.herokuapp.com/api/orders/search/orders-available?marketId=590
- https://fm-data.herokuapp.com/api/orders/search/orders-completed?marketId=590
- https://fm-data.herokuapp.com/api/orders-json/orders-available?marketId=590
- https

[2018-07-16 22:13] nitinef commented on #15
These may happen when the MP is created but not opened for the first time? I think there is some initialization that takes place when an MP is first opened.

[2018-07-17 23:51] nitinef opened #16 "UI does not show invalid order message"
When a trader submits an invalid order (e.g., a sell order with the number of units > available units or a buy order with total cash > available cash) the UI should show an invalid order message.

[2018-07-17 23:54] nitinef opened #17 "Incorrect naming in Import/Export holdings Dialog box"
The dialog box should state Import/Export holdings instead of Import/Export Marketplace.

<img width="551" alt="mp_1" src="https://user-images.githubusercontent.com/2361597/42851507-682f6136-8a70-11e8-9335-cfbfab4035ae.png">
<img width="300" alt="mp_2" src="https://user-images.githubusercontent.com/2361597/42851511-6d2dd7d0-8a70-11e8-9b36-8a05d91e52d0.png">

[2018-07-19 06:22] nitinef opened #18 "API error on marketplace close/pause"
The marketplace effect is correct (i.e., it closes and pauses) but the API response is an Internal Server Error. CURL output below:

$ ./patch --data-binary @patch-closed.json $FMAPI_HOME/sessions/6077
*   Trying 52.7.153.92...
* TCP_NODELAY set
* Connected to fm-data.herokuapp.com (52.7.153.92) port 443 (#0)
* ALPN, offering http/1.1
* Cipher selection: ALL:!EXPORT:!EXPORT40:!EXPORT56:!aNULL:!LOW

[2018-07-19 14:15] JanStureNielsen commented on #18
This is now fixed.

[2018-07-19 14:15] #18 closed, assigned to JanStureNielsen

[2018-07-19 14:22] JanStureNielsen commented on #11
At the moment this is the only supported way to be able to change your password.

[2018-07-19 14:22] #11 closed, assigned to JanStureNielsen

[2018-07-19 15:06] JanStureNielsen commented on #12
This is not/no-longer possible.

[2018-07-19 15:06] #12 closed, assigned to JanStureNielsen

[2018-07-19 17:00] JanStureNielsen commented on #15
These mis-handlings in the API ow return an error:
[code]

except for the `marketplace/{id}/sessions` API which returns an empty list.

[2018-07-19 17:00] #15 closed, assigned to JanStureNielsen

[2018-07-20 15:46] JanStureNielsen commented on #16
This is now fixed.

[2018-07-20 15:46] #16 closed, assigned to JanStureNielsen

[2018-07-22 23:59] nitinef opened #19 "Incorrect sorting of BID and ASK orders in UI and Incorrect Spread"
The BUY orders should be sorted in descending order (top to bottom) and the SELL orders in ascending order (bottom to top). The spread should be the difference between the best bid and the best ask.
![incorrectspread](https://user-images.githubusercontent.com/2361597/43051521-9a3d6758-8e5e-11e8-88ba-676f9feac10d.png)

[2018-07-24 15:52] JanStureNielsen commented on #19
This is now fixed and deployed.

[2018-07-24 15:52] #19 closed, assigned to JanStureNielsen

[2018-08-06 00:47] darkfishy opened #20 "Incorrect endpoint access"
User accounts with `ROLE_USER` access level are able to access information across different accounts/tenants. Below is a list of API endpoints where such authorisation flaws/breaches have occurred. I will add more to the list when I find them.

1. https://fm-data.herokuapp.com/api/approvals - lists approvals that shouldn't be visible by a normal user. It lists approvals across tenancies.
2. https:

[2018-08-06 01:30] darkfishy opened #21 "Inconsistent Content-Type header in API Responses"
The `Content-Type` for certain API endpoints are not consistent, where they should be either of `Content-Type: application/json; charset=utf-8` or `Content-Type: application/hal+json;charset=UTF-8`; latter being the one in use for most responses.

Endpoints such as ones below, return `Content-Type: text/html;charset=UTF-8`:
1. https://fm-data.herokuapp.com/api/profile/markets
2. https://fm-data.he

[2018-08-06 19:17] JanStureNielsen opened #22 "Improve submit performance"
Abhi reports:

![mp298-buy-sell-p200-sd0-ih5m](https://user-images.githubusercontent.com/4248566/43721659-a6299d00-9950-11e8-8aca-d9cd000f0555.png)

[2018-08-06 19:30] JanStureNielsen commented on #22
Running Abhi's scripts on my development server, the server saturates within a minute:

![fm-data-20180806-112959](https://user-images.githubusercontent.com/4248566/43736635-90aa1bb4-997b-11e8-818e-92d84c335cce.png)

which is caused by debug statements for the order books, trade histories, and holdings. When these statements are disabled, the development server handles the load:

![fm-data-2018080

[2018-08-06 22:17] JanStureNielsen commented on #22
At the time of Abhi's test, the AHM production mid-tier was severely under-powered; it was provisioned as a "2x" server with 1 GB of RAM with a "hobby-dev" PG instance with no RAM. With the mid-tier upgraded to "PM" with 2.5GB of RAM and "standard-0" PG instance with 4GB of RAM, the performance of the production server is:

![fm-data-production-1545](https://user-images.githubusercontent.com/42485

[2018-08-07 03:33] darkfishy commented on #20
Another endpoint:

17. https://fm-data.herokuapp.com/api/orders/search/orders-available?marketId={}

[2018-08-07 03:51] darkfishy opened #23 "Internal Server Error via API on Available Orders Search in a New and Empty MP/Market"
Steps to reproduce:
1. Create a new marketplace with one market
2. Do not open the marketplace yet
3. `GET` the `URL('https://fm-data.herokuapp.com/api/orders/search/orders-available?marketId={market_id}')` where `market_id` is for the market created above.

Response received:
[code]

Expected response:
[code]

[2018-08-07 03:55] darkfishy commented on #23
The above error happens even if the marketplace is open, but the orderbook is empty.

[2018-08-07 04:05] darkfishy opened #24 "Self-crossing trade affects holdings and history"
Steps to reproduce:
1. Create a new marketplace with a single market
2. Open the market
3. Submit a `SELL` order
4. Submit a matching `BUY` order
5. The self-trade takes place
6. Available `cash` and `units` change

Expected behaviour:
1. The above trade should not take place. Instead the two orders should cancel each other, effectively cancelling the order submitted first.

[2018-08-07 04:11] darkfishy commented on #24
Visual trace:

Current State
![image](https://user-images.githubusercontent.com/19355157/43753858-25b6108a-9a4b-11e8-8ac6-f04ddb1bce74.png)

Submit `SELL` order
![image](https://user-images.githubusercontent.com/19355157/43753898-4f5dd008-9a4b-11e8-911e-ae8bfe43e837.png)

Submit `BUY` order of same unit/price combination
![image](https://user-images.githubusercontent.com/19355157/43753911-632dc5ca

[2018-08-07 04:23] darkfishy opened #25 "No _embedded with zero resources"
Steps to reproduce:

1. Create a new marketplace with one market
2. Open the marketplace
3. Execute at least one trade in a way that there are no pending orders
  a. Send a `SELL` order
  b. Send an equivalent `BUY` order
  c. Trade takes place
4. `GET` the URL('https://fm-data.herokuapp.com/api/orders/search/orders-available?marketId={market_id}') where `market_id` is for the market created above

[2018-08-07 04:31] darkfishy opened #26 "Internal Server Error via API on Available Orders Search in Existing but Closed Marketplace"
Steps to reproduce:
1. Create a new marketplace with one market
2. Open the marketplace
3. Execute at least one trade in a way that there are no pending orders
  a. Send a `SELL` order
  b. Send an equivalent `BUY` order
  c. Trade takes place
3. Close the marketplace
4. `GET` the `URL('https://fm-data.herokuapp.com/api/orders/search/orders-available?marketId={market_id}')` where `market_id` is fo

[2018-08-07 22:19] darkfishy commented on #25
Similarly, it happens on following endpoint. `GET https://fm-data.herokuapp.com/api/marketplaces/`.

Seems to be a case where container is empty, the server isn't returning the `_embedded` object altogether.

[2018-08-08 02:09] JanStureNielsen commented on #24
Thanks for the great bug report, @darkfishy -- this is now fixed and deployed.

[2018-08-08 02:09] #24 closed, assigned to JanStureNielsen

[2018-08-12 13:29] JanStureNielsen commented on #23
I'm not able to reproduce this, @darkfishy, on AHM -- would you try? If you're able to reproduce, add the curl command to the issue and re-open.

[2018-08-12 14:13] JanStureNielsen commented on #26
I'm not able to reproduce this, @darkfishy, on AHM -- would you try? If you're able to reproduce, add the curl command to the issue and re-open.

[2018-08-12 14:13] #26 closed, assigned to JanStureNielsen

[2018-08-13 00:24] darkfishy commented on #23
@JanStureNielsen Yes, this is not happening anymore. Though on the day I reported it, it happened more than once. Can't reproduce this anymore. Though it sill has the issue related to #25

[2018-08-13 00:54] darkfishy commented on #26
@JanStureNielsen I cannot reproduce this either. I have a suspicion that it got resolved after issue #24

[2018-08-13 18:59] JanStureNielsen commented on #23
I can now duplicate this issue in a new marketplace in INIT state.

[2018-08-13 19:43] JanStureNielsen commented on #23
Fix is now deployed to production.

[2018-08-13 19:43] #23 closed, assigned to JanStureNielsen

[2018-08-14 07:46] darkfishy opened #27 "Don't write if password field is blank"
If the `password` field is empty for an existing user in users.csv, which was previously exported then edited, upon importing this CSV, password for those users gets deleted/set to empty.

This means that the user could not log in after that point.

This is especially an issue for users with ROLE_MANAGER because if their password gets deleted, then that user cannot log back in.

Expected Behaviour

[2018-08-17 03:37] darkfishy opened #28 "Different 401 responses"
For instance, upon trying to fetch marketplace info using the `/api/marketplaces/{id}`, the response for failed logins is inconsistent.

Sometimes the output is:
[code]

Whereas at other times it is just blank `'   '`. Sample output from FMClient is as below (timestamp in TZ Australia/Melbourne):
[code]
Note that the `response` object above is just an empty string.

[2018-08-30 13:29] darkfishy opened #29 "Mishandling of expired JWT tokens"
Currently, if a client tries to login using an expired token, the API server throws an `HTTP 500 Internal Server Error` with following headers and JSON response:

#### Headers:
[code]
#### JSON Response:
[code]

I consider this counterintuitive from authorisation as well as system design perspective.

In case of authorisation failure, a client would normally expect `HTTP 401 Unauthorised`

Additio

[2018-09-03 01:23] darkfishy opened #30 "Large holding values can visually overlap"
The UI has CSS issues with cash values overlapping when the values are large. See screenshot below:
![image](https://user-images.githubusercontent.com/19355157/44962760-f1eaf680-af67-11e8-94aa-2264beb40bb8.png)

Current screen resolution: 1080x1920
Current Viewport: 1079x1180

[2018-09-03 06:57] darkfishy opened #31 "Show item name(s) when session is not open"
The names that are shown for Markets and Items are rather ambiguous depending upon the current state of the marketplace.

For instance, when the marketplace is `INIT/PAUSED/CLOSED`, only the `Market Name` and `Description` are shown.
![image](https://user-images.githubusercontent.com/19355157/44971477-0693b280-af99-11e8-971e-359f07aeb00f.png)

Whereas, when the marketplace is `OPEN`, the `Item Nam

[2018-09-10 04:49] darkfishy opened #32 "Server Error 500 on Holdings CSV Import"
Holdings import with the new CSV structure throws Internal Server Error even with CSV that was just downloaded, sans trades.

CSV has following structure:

[code]
Marketplace: 365
Session: 6883

Error thrown on the Web UI:
![image](https://user-images.githubusercontent.com/19355157/45276932-76a9b780-b508-11e8-84d1-f39d74acd355.png)

Tried uploading a few times and same error.

[2018-09-10 05:06] darkfishy commented on #32
CSV file with TXT extension.
[datafile-365-6883-2018-09-10-12-49-09.csv.txt](https://github.com/flexemarkets/fm-issues/files/2365195/datafile-365-6883-2018-09-10-12-49-09.csv.txt)

[2018-09-10 05:23] JanStureNielsen commented on #32
Hmm -- I wonder if (evil) MS Excel translated `true` and `false` to `TRUE` and `FALSE` -- would you down-case those and try? Obviously the parser should handle that but...

[2018-09-10 05:48] darkfishy commented on #32
Yes, MS Excel was indeed changing capitalisation of `true` and `false` values to `TRUE` and `FALSE`.
However, even when keeping the capitalisation of those values to lowercase, using vim, the holdings are not updated and server throws `Internal Server Error 500`

File attached here:
[datafile-365-6883-2018-09-10-15-41-59.csv.txt](https://github.com/flexemarkets/fm-issues/files/2365272/datafile-365

[2018-09-10 06:19] JanStureNielsen commented on #32
Importer fixed now.

[2018-09-10 06:19] #32 closed, assigned to JanStureNielsen

[2019-01-23 18:00] #22 closed, assigned to JanStureNielsen

[2019-01-23 18:08] JanStureNielsen commented on #13
This was fixed a long time ago.

[2019-01-23 18:08] #13 closed, assigned to JanStureNielsen

[2019-01-23 18:09] JanStureNielsen commented on #14
This was fixed a long time ago.

[2019-01-23 18:09] #14 closed, assigned to JanStureNielsen

[2019-01-23 18:47] JanStureNielsen commented on #21
The endpoints under `/api/profile` should all be:

    Content-Type: application/alps+json;charset=UTF-8

which they (at least now) appear to be.

[2019-01-23 18:47] #21 closed, assigned to JanStureNielsen

[2019-01-23 22:58] darkfishy commented on #21
Doesn't seem to have been fixed or in effect yet. Check [this](https://youtu.be/27LTK7foAFQ).

[2019-01-24 00:57] JanStureNielsen commented on #21
Would you provide the curl(s) for the inconsistency(ies)?

On Wed, Jan 23, 2019, 15:58 darkfishy <notifications@github.com wrote:

[2019-01-24 16:32] JanStureNielsen commented on #21
It looks like this is a client accept header issue. Via curl:

    curl -u $FM_DEV https://fm-data.herokuapp.com/api/profile/markets

sends

    Accept: */*

and receives

    Content-Type: application/alps+json;charset=UTF-8

as expected. But the browser is sending:

    Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8

and receiving:

    Content-Type

[2019-01-24 20:31] JanStureNielsen commented on #28
I cannot reproduce this; for all endpoints I get, e.g.:
[code]

[2019-01-24 20:31] #28 closed, assigned to nobody

[2019-03-07 02:37] darkfishy opened #33 "Feature Request: JSON response for Manager API endpoints"
The following endpoints currently respond with or expect data of type `CSV` with `Content-Type: multipart/form-data`.

- [Import](https://github.com/flexemarkets/fm-client-curl#import-users)/[Export](https://github.com/flexemarkets/fm-client-curl#export-users) Users
- [Import](https://github.com/flexemarkets/fm-client-curl#import-holdings)/[Export](https://github.com/flexemarkets/fm-client-curl#ex

[2019-06-04 04:56] darkfishy opened #34 "[BUG] Random BAD_REQUEST / PERSON_UNKNOWN Error"
**Bug Description**
Every now and then, though at random, the server responds back with an error `PERSON_UNKNOWN`, on endpoints which have previously returned expected data.

**To Reproduce**
Steps to reproduce the behaviour:
1. Using `fmclient` fetch current holding from endpoint `https://fm-data.herokuapp.com/api/marketplaces/{mp_id}/currentHolding?size=10000` at some interval
2. Most of the tim

[2019-06-05 05:17] darkfishy commented on #20
Another endpoint:

18. https://fm-data.herokuapp.com/api/markets - Cross-tenancy access
![image](https://user-images.githubusercontent.com/19355157/58855212-d6716f80-86e2-11e9-84a6-5a8b64eaef85.png)

[2019-06-19 05:10] darkfishy opened #35 "Feature Request: Include owner ID in orders JSON"
Currently, the `order` JSON has following data fields:

[code]

In addition to the above, depending upon the endpoint used, the owner info is included only as a URL. This means that an additional network request has to be made to the server in order to get that information, which is also redundant.

It would be useful to have `owner_id` included as part of the `order` data structure. This `owner_i

[2019-06-19 05:59] darkfishy opened #36 "Feature Request: Include market info in marketplaces info response"
***Background***
The current endpoint to fetch marketplace info, `/api/marketplaces/{mp_id}`, only includes information on the marketplace itself. To get information on the markets within a marketplace, an application has then to perform another network request to the included `/api/marketplaces/{mp_id}/markets` endpoint.

This isn't an issue for a single marketplace, however, where an application

[2019-07-15 02:02] darkfishy opened #37 "[BUG] Private Order missing "ownerTarget" Information"
The current private order JSON via REST API does not include `ownerTarget` field which is to be used to identify who sent the order (or to whom this order was sent if `"mine": true`)

Current JSON via REST:

[code]

Order JSON via WS:

[code]

[2019-07-15 04:29] darkfishy opened #38 "[BUG] Orderbook for a Private Market includes ALL Orders"
Fetching available orders for a private market using `https://fm-data.herokuapp.com/api/orders/search/orders-available?marketId={market_id}` also includes orders for which the currently authenticated used is neither the owner nor the target.

This results in incorrect reasoning when checking for whether an order is 'mine' or was sent to 'me'.

[2019-07-15 18:55] JanStureNielsen commented on #34
This is an old, likely stale, issue. If you are still seeing this, please re-open.

[2019-07-15 18:58] JanStureNielsen commented on #25
This is an artifact of the underlying REST HAL implementation which we cannot change so I will close this. In future, we may avoid this by using a different representation.

[2019-07-15 18:58] #25 closed, assigned to JanStureNielsen

[2019-07-15 19:00] JanStureNielsen commented on #30
I have opened an internal tracking issue on the general issue but I'm going to close this specific problem with large cash.

[2019-07-15 19:00] #30 closed, assigned to nobody

[2019-07-15 19:03] JanStureNielsen commented on #20
Internal tracking issue created -- closing this public issue.

[2019-07-15 19:03] #20 closed

[2019-07-16 20:26] JanStureNielsen commented on #37
Are you using the `/orders/search/orders-available` endpoint for the data, @darkfishy? If so, the endpoint returns an (incorrect, as you reported) paginated list of HAL+JSON resources without the `ownerTarget` attribute (as you reported):

[code]
Is that what you're seeing?

[2019-07-16 21:29] darkfishy commented on #37
Yes, that's correct. I am using `https://fm-data.herokuapp.com/api/orders/search/orders-available?marketId={marketId}` which is available from a given market's JSON data.

Also yes.

[2019-07-17 22:29] JanStureNielsen commented on #37
I have a solution which is mostly backwards compatible:
[code]
Unfortunately, each order's identifier is now `orderId` instead of `id` which means that dependent code will need to be updated. Avoiding this renaming of this property will be a lot of work which I'd like to avoid.

Does this work for you guys?

[2019-07-17 22:40] darkfishy commented on #37
This should work just fine. For `id` that is just a matter of changing json key used while creating order objects internally.

[2019-07-17 23:06] darkfishy commented on #37
Will this be deployed today?

[2019-07-18 00:14] JanStureNielsen commented on #38
Duplicate of #37.

[2019-07-18 00:14] #38 closed, assigned to JanStureNielsen

[2019-07-18 00:15] JanStureNielsen commented on #37
This is now deployed to adhocmarkets.com as v123.

[2019-07-18 00:15] #37 closed, assigned to JanStureNielsen

[2019-07-18 00:16] darkfishy commented on #37
Thanks Jan

[2019-07-19 03:31] darkfishy commented on #34
This issue is still there. Happened again today. See the log below:

`[2019-07-19 13:23:18,521:       comms.Request]:    ERROR`

[code]

[2019-07-19 03:32] darkfishy commented on #34
Can't seem to re-open issues. There isn't an option like that.

[2019-07-19 03:59] darkfishy opened #39 "Internal Server Error via REST API on Available Orders Search in Existing and Open Marketplace"
[code]

This happened again, though it is hard to say how it can be replicated.

[2019-07-22 16:56] JanStureNielsen commented on #39
Found and fixed a potential NPE which could cause this. Closing for now; please re-open if another instance happens.

[2019-07-22 16:56] #39 closed, assigned to JanStureNielsen

[2019-08-12 04:23] darkfishy opened #40 "[BUG] Inconsistent DateTime format in Holdings/Order CSV Export"
A very rare occurrence, though when a given timestamp for either order creation or modification (or elsewhere in FM?), is exactly on the second (S.000), the timestamp in CSV file does not have the microsecond (.sss) information present.

For instance, if the timestamp for order createAt is `2019-07-30T04:07:03.000`, then the output CSV only includes `2019-07-30T04:07:03`.

This is inconsistent wit

[2019-11-19 21:27] JanStureNielsen commented on #31
This is resolved in FM-2.1 on flexemarkets.com:

![fm-issues-31](https://user-images.githubusercontent.com/4248566/69187866-9e1aed80-0ad8-11ea-9aae-31825afdaede.png)

[2019-11-19 21:41] JanStureNielsen commented on #31
Closed in https://github.com/flexemarkets/fm-ui/pull/470/commits/a30b7e1c4469bb053de0562a82d5b660ce8bbb7a

![fm-issues-31](https://user-images.githubusercontent.com/4248566/69378728-32698980-0c6c-11ea-9b81-6cc08fe4b4f3.png)

[2019-11-19 21:41] #31 closed, assigned to JanStureNielsen

[2019-11-21 21:13] JanStureNielsen commented on #17
Closed in https://github.com/flexemarkets/fm-ui/commit/33ab6ea92b8063686961f592c9a593451f660f66

[2019-11-21 21:13] #17 closed, assigned to nobody

[2020-02-01 04:14] JanStureNielsen commented on #29
This is now implemented.

2022-03-22 update: This should read "This is now implemented in FM-3".

[2020-02-01 04:22] darkfishy commented on #29
Awesome. Thanks Jan. What does the server respond now in case of expired auth?

[2020-02-16 22:42] JanStureNielsen commented on #35
This is now implemented. A "manager" will see `ownerId=<id>` in the REST APIs; and, "users" (i.e., non-managers) will see `ownerId=null` except for their own orders. The WS API includes `ownerId=null` except for their own orders for all roles at the moment; but the WS API will be updated to have similar functionality to the REST API for managers.

[2020-02-16 22:42] #35 closed, assigned to nobody

[2020-11-25 05:30] darkfishy commented on #27
Hey Jan. Has there been any progress on this? I also wouldn't classify this as an enhancement because I'd rather consider this bug, as it effectively locks out a manager account.

[2020-11-28 18:52] JanStureNielsen commented on #27
Hi Abhi -- I'm working on account management features, including change of password; once this is complete the password field for the importer will be ignored.

[2020-11-29 03:22] darkfishy commented on #27
Thanks Jan

[2021-05-28 01:50] darkfishy opened #41 "[BUG] Marketplace CSV Export contains HTML instead with Incorrect Data"
**Bug Description**
When exporting marketplaces list as CSV, on either FM or AHM, the exported data just contains HTML webpage instead of list of marketplaces with their respective structure (if that is the intention). It is possible that the export functionality was not intended to export the list of marketplaces and only holdings. Though I recall this working some long time ago.

It seems like t

[2021-05-28 02:00] JanStureNielsen commented on #41
The bug is that the export & import options should not be present on the marketplace list view. The enhancement, as @darkfishy notes, could be to download one or more marketplace configurations. We'll fix the bug first, then add the long-awaited configuration export enhancement as a separate issue.

[2021-05-28 02:03] darkfishy commented on #41
@JanStureNielsen Sounds good and just as I thought that the option wasn't meant to be there.

[2021-05-28 05:34] pbossaerts opened #42 "Holdings zeroed with pause, clear-book, open sequence"
On FM-2 (flexemarkets.com), pausing, clearing the book, and (re-)opening the marketplace results in zero holdings.

[2021-05-31 21:23] JanStureNielsen commented on #42
Fixed in https://github.com/flexemarkets/fm-data/commit/51f5ee2ed3f6866c151c15422b072934c947d064 and deployed.

[2021-05-31 21:23] #42 closed, assigned to JanStureNielsen

[2021-06-10 21:31] #27 closed, assigned to JanStureNielsen

[2021-06-10 21:32] JanStureNielsen commented on #27
The import no longer sets null or empty passwords.

[2021-06-10 22:30] JanStureNielsen commented on #40
This is now fixed in FM-3.

[2021-06-12 04:54] JanStureNielsen commented on #41
This is now fixed in FM-3.

[2021-06-12 04:54] #41 closed, assigned to JanStureNielsen

[2022-01-28 18:05] dmeloso76 opened #43 "Wrongly display Robot with Risk and two-market spread after pause"
I launch a robot in a single market setup. The market is then paused and when restarts I see parameters of robot, including risk and spread in a market that is not open. Top picture shows interface before pause, and bottom picture interface after pause.

![bug_after](https://user-images.githubusercontent.com/50741590/151598757-1cb31e60-fcba-4ad0-a0a3-0fc43646a874.png)
![bug_before](https://user-im

[2022-02-01 11:59] #43 closed, assigned to JanStureNielsen

[2022-02-02 13:05] darkfishy commented on #40
Hey Jan (@JanStureNielsen), Could this fix be backported to FM2? The problem still persists and now another example has surfaced where even the seconds component is missing. This causes major parsing headaches and having to apply hacks.

![screenshot-2022_02_03-00_02_19+1100](https://user-images.githubusercontent.com/19355157/152159087-915075de-3662-4ccb-b4bb-7b62711e9602.png)

[2022-02-02 13:13] darkfishy commented on #40
In fact there are multiple occurrences of such dates.

account: rad-prodigy
OID: 14679

[2022-02-02 13:47] JanStureNielsen commented on #40
This looks like a pretty easy back-port, @darkfishy -- I'll try it out tonight and provide an update.

[2022-02-21 22:02] JanStureNielsen commented on #34
Sorry I totally missed your reply, Abhi -- it's now re-opened. I have not seen this issue on FM-3; can you describe the work-load when this happens on FM-2?

[2022-02-22 08:17] JanStureNielsen commented on #40
In FM-3, time is stored with microsecond resolution with trailing zeros: 2022-02-07T16:42:52.782520.

[2022-02-22 08:53] JanStureNielsen commented on #36
This enhancements will reduce the requests for marketplace+markets data from 2 requests to 1 request with the development and maintenance of a custom handler on the server side for this API, or a general infrastructure enhancement to enable "embedding" in all the APIs. The gains seem minimal considering the amount of work needed to support this so perhaps I'm not fully understanding the problem yo

[2022-02-22 09:24] JanStureNielsen commented on #29
Let's test this to make sure we are doing the right things at the right time.

[2022-02-24 06:24] darkfishy commented on #40
That sounds good Jan. I can test it if/when we transition to FM-3.
Does this correspond to both CSV and JSON endpoints?

[2022-02-24 06:37] darkfishy commented on #36
The problem is that in the current setup, it creates `1+n` request; first request to get MP information and then `n` further requests to get info on each of the `n` markets in a MP. This gets compounded depending on number of marketplaces and number of markets in each of those marketplaces.

This isn't just relevant to fmclient, but also to FM's own UI and Algohost (which also fetches this info).

[2022-02-24 06:43] darkfishy commented on #34
It's hard to describe the workload, though you can see from the URL used, this used to happen when regularly fetching holdings. fmclient doesn't do that any more and we simply use the updates via WS.

It may happen if regularly fetching this data on admin endpoints.

However, my last example above is from FM-UI, so workload wise it wasn't heavy at all. it was a one off request.

[2022-02-24 07:01] darkfishy commented on #29
I see that on [flexemarkets.com](https://guarded-ridge-89710.herokuapp.com/api/tokens) and [adhocmarkets.com](https://fm-data.herokuapp.com/api/tokens), returned headers on `/tokens` endpoint are still same as above. Especially in `Cache-Control: max-age` and `Expires` headers. Those values are still `0`.

[2022-02-24 07:02] darkfishy commented on #29
I'll test what I get as response when using an expired token.

[2022-02-25 18:38] JanStureNielsen commented on #34
If you are no longer seeing this (perhaps because you're using the events now), let's close this. If we still see it again, we will re-open.

[2022-02-25 18:38] #34 closed, assigned to JanStureNielsen

[2022-02-25 20:44] darkfishy commented on #34
Sounds good. I'll update the issue if it happens again.

[2022-03-21 06:52] darkfishy commented on #29
Hey @JanStureNielsen I tested this (expired token) and response is still a success `200 OK`, which isn't standards compliant. The response body is then empty, which also isn't helpful.

[2022-03-21 08:05] JanStureNielsen commented on #29
Yes; this is clearly incorrect behavior. I'll take a look at this set of issues this week.

[2022-03-22 04:30] darkfishy commented on #29
@JanStureNielsen Upon further investigation, this incorrect behaviour is present only in FM-2. Under **FM-3** it correctly returns `401 Unauthorized`. I am assuming that when you said

you meant FM-3 but not FM-2. Is that right?

[2022-03-22 05:42] JanStureNielsen commented on #29
Correct -- only implemented in FM-3. I only back-port significant bugs with minimal stability risks to FM-2 but I should have made that clear in the comment above. I'll edit.

[2022-03-22 10:37] JanStureNielsen commented on #36
This is fixed in FM-3; the marketplace always includes its markets:
[code]

[2022-03-22 10:37] #36 closed, assigned to JanStureNielsen

[2022-03-22 10:43] darkfishy commented on #36
Thanks @JanStureNielsen Confirmed.

[2022-03-22 10:47] darkfishy commented on #29
Thanks Jan. I suppose we can close this issue for now.

[2022-03-22 10:49] darkfishy commented on #29
Oops. I shouldn't have been this hasty. There is still the issue of Headers `Expires: 0` and/or `Cache-Control: ...,max-age=0,...`
These should have a non-zero value as appropriate. Ideally, the value for `Expires` should be set for token validity and leave `Cache-Control` as-is because that is usually relevant for intermediate proxies.
Hence reopening.

[2022-05-26 02:35] darkfishy commented on #40
Hey @JanStureNielsen I can confirm that the datetime fields in CSV have microsecond resolution, and likely consistently zero-padded.

However, there still seems to be some discrepancy in the datetime fields that are returned in JSON (via REST/WS). I'll raise it as a separate issue for tracking purposes.

Closing this issue.

[2022-05-26 02:35] #40 closed, assigned to JanStureNielsen

[2022-05-26 12:21] darkfishy opened #44 "[FM-3] Microsecond resolution discrepancy between datetime fields in CSV and JSON"
Hey Jan(@JanStureNielsen),

There seems to be some discrepancy in the datetime fields that are returned in JSON (via REST/WS) compared to those via CSV.
In CSV, microsecond resolution is upto 6 digits, whereas in JSON it is upto 9. I already account for this in FM-Client, so this issue is more an RFC.

Is this by design?

Marketplace:
[code]

Order CSV:
[code]

Order JSON (from  trader's perspecti

[2022-05-26 12:22] darkfishy opened #45 "[FM-3] [BUG] Incorrect data in `ownerTarget` field of a private `Order` on `ORDER-UPDATE`"
Hey Jan(@JanStureNielsen),

There is a discrepancy (rather a bug) in the data that is returned in this field for an Order JSON, depending on when this object is sent.

When a trader subscribes, via WS, to a marketplace, which is already open with some orders in a private market, the first `ORDER-UPDATE` it receives, for the private orders that were sent to this trader by a manager, has the `ownerT

[2022-05-26 12:25] darkfishy opened #46 "[FM-3] [BUG] Empty `ORDER-UPDATE` when private orders are sent/cancelled for non-self"
Hey Jan(@JanStureNielsen),

When private orders are sent/cancelled in a private market, a given trader receives empty list via `ORDER-UPDATE` WS sub, for orders that are not relevant to this trader.

Ideally, traders that are not party to a private order (as in owner and target), should not get any notification via `ORDER-UPDATE`.

@nitinef : What is your take? Is this relevant to you? I ask becau

[2022-05-26 15:17] JanStureNielsen commented on #46
In a private market, only the source and target should receive ORDER-UPDATE events on submit, cross, and cancel.

[2022-05-27 00:06] darkfishy commented on #46
@JanStureNielsen That's indeed what I would expect, however, empty messages are still being sent to other traders. Below is an example for marketplace `1145`, market `2025` on order submission (`id: 25671483`):

[code]
And following for cancellation of the above order:
[code]

[2022-05-27 00:10] darkfishy commented on #46
Also to add, it does make sense for an empty update for public (and/or private) markets at the start of sub, though not as an ongoing update.

[2022-05-27 06:34] JanStureNielsen commented on #46
I favor never sending empty ORDER-UPDATE events over only sending empty ORDER-UPDATE events on subscribe. For my applications, this should be fine and I can't think of a scenario where this is inadequate. It's also cleaner to implement, of course.

Can you help clarify why an empty ORDER-UPDATE events on subscribe make sense, @darkfishy?

[2022-05-27 06:57] darkfishy commented on #46
Hey @JanStureNielsen that question is best answered by @nitinef as this particular exception to the rule is his request.

[2022-05-27 07:49] nitinef commented on #46
Hi @JanStureNielsen we need an update at the time of login. Just to point that current OB is empty when agent initialises.

[2022-05-27 08:12] JanStureNielsen commented on #46
Hi @nitinef -- my applications initialize an empty order book and then update the state based on ORDER-UPDATE events so, they don't care when the "first" ORDER-UPDATE arrives. I'll refactor things a bit to see if I can implement a clean solution with a empty ORDER-UPDATE on subscribe but no empty ORDER-UPDATEs after that.

[2022-05-27 08:24] darkfishy commented on #46
@nitinef Wouldn't it just be easier to assume that if there has been no update, the order book is empty? And at the time of starting a bot (irrespective of marketplace state) and at the time of marketplace open, agents can assume marketplace is empty and can also query our internal representation of the order book if required. I do agree with Jan, that we should not treat subscription event as spe

[2022-05-27 08:29] darkfishy commented on #46
@nitinef In our case, I think the best place to do any initial check for empty order book would be at the time of session update. If, at the time of initialisation, the order book is not empty, then their logic would remain as is within the received orders method.

[2022-05-28 13:03] darkfishy commented on #46
@JanStureNielsen Now I remember why I said this.

If there is a proactive agent in a market, these agents may want to act as market maker. In which case they may want an authoritative answer at the start, on whether the order book is empty. If such an agent assumes that an order book is empty, it may lead to this agent sending incorrect orders or missing out sending initial orders (depending on ag

[2022-05-28 13:55] JanStureNielsen commented on #46
Yeah -- slight penalty for this type of agent but it could wait to assess its state for some short time, say a second or two, and then act on empty if no ORDER-UPDATE.

[2022-05-28 23:56] nitinef commented on #46
Hi @JanStureNielsen is it possible to get order update always when agent logs in (including empty order book). I think not having this will break a lot of our agents. The delay is not ideal I think in proactive bots. Moreover it’ll be cumbersome for students to include such functionality.

[2022-05-29 05:18] JanStureNielsen commented on #46
Yes, no problem -- I've got it implemented but waiting on the fixes for the `ownerTarget` field in #45.

[2022-05-30 08:50] JanStureNielsen commented on #46
Fix is now deployed to production.

[2022-05-30 08:52] darkfishy commented on #46
Thanks Jan. I'll test it later tonight and let you know.

[2022-05-30 13:49] darkfishy opened #47 "[FM-3] [BUG] Stale (cancelled) `LIMIT` orders in initial WS `ORDERS-UPDATE`"
Hey Jan,

Since the last change to production, there now seems to be another issue with order updates.
On initial subscription, order updates now include old cancelled `LIMIT` orders. This is likely to break some of our agents, even though our `Order`  class can be queried for these orders for cancellation status.

See WS messages on the web UI (which is also seen by our agents).

[code]

[2022-05-30 13:52] darkfishy opened #48 "[FM-3] [BUG] Order cancellation sends original `LIMIT` order in `ORDERS-UPDATE`"
This is a new behaviour which wasn't present before today(!). This breaks existing robots.

Is there a reason for this change? Could this be reverted to its previous state, where only the `CANCEL` order was sent (at least that is how I recall it).

This bug could be related to #47

[code]

[2022-05-30 15:37] JanStureNielsen commented on #46
Deployment of this fix seems to have triggered other bugs -- production reverted to prior version -- investigating.

[2022-05-30 15:38] JanStureNielsen commented on #47
Production is now reverted to May 19 code-base -- investigating.

[2022-05-30 15:38] JanStureNielsen commented on #48
Production is now reverted to May 19 code-base -- investigating.

[2022-06-04 03:50] darkfishy opened #49 "[FM-3] [BUG] CORS error when making API request from browser (AlgoHost)"
**Bug Description**
API requests fail when trying to access resources on server, such as the one below.

**To Reproduce**
Make a request to `FM-3` server from `algohost.bmmlab.org` or `localhost` via browser (using JWT; authentication is done on algohost server, instead of browser). See error below:
[code]
This is possibly due to `Referrer Policy: strict-origin-when-cross-origin`.

**Expected beha

[2022-06-04 06:33] #49 closed, assigned to JanStureNielsen

[2022-06-04 06:35] JanStureNielsen commented on #49
Added the below hosts to CORS configuration:
[code]

[2022-06-04 09:11] darkfishy commented on #49
Thanks Jan. Confirmed that it works.

[2022-06-07 14:10] JanStureNielsen commented on #48
This is now fixed and validated in production.

[2022-06-07 14:11] JanStureNielsen commented on #47
This is now fixed and validated in production.

[2022-06-07 14:11] JanStureNielsen commented on #46
This is now fixed and validated in production.

[2022-06-07 14:11] #46 closed, assigned to JanStureNielsen

[2022-06-07 19:57] JanStureNielsen commented on #48
This is not deployed, yet.

[2022-06-08 19:57] JanStureNielsen commented on #48
The behavior in this scenario is the same in FM-3 as it is in FM-2 for both private and public markets. I'm going to close this since this is "as-designed". If you feel this is incorrect, i.e., we should have different behavior from FM-2, please re-open with the details.

[2022-06-08 19:57] #48 closed, assigned to JanStureNielsen

[2022-06-09 13:47] JanStureNielsen commented on #45
This is now fixed and deployed to prodution.

[2022-06-09 13:47] #45 closed, assigned to JanStureNielsen

[2022-06-10 11:15] JanStureNielsen commented on #44
The order CSV and JSON now have the same microsecond representation. Other objects still contain the default nanosecond resolution in JSON; these inconsistencies will be corrected with a custom serializer.

[2022-06-10 11:15] #44 closed, assigned to JanStureNielsen

[2022-06-10 12:33] JanStureNielsen commented on #29
The `Expires` header was used HTTP/1.0 for client-side caching; however, it was shown to be difficult to implement correctly across clients and applications and as a result the use of the `Expires` header was deprecated in HTTP/1.1. With most traffic now being HTTP/1.1, the best practice for this header is to set the value to zero ("already expired").

Since the APIs set `Expires: 0` per best prac

[2022-06-10 12:33] #29 closed, assigned to nobody

[2022-06-17 04:23] darkfishy commented on #48
Hey Jan. I am a bit confused. Could you explain the 'as-designed' behaviour? Is it that on cancelling an order, both the new `CANCEL` and the original `LIMIT` orders are sent as part of an update?

[2022-06-17 04:26] darkfishy commented on #47
Confirmed

[2022-06-17 04:27] darkfishy commented on #46
Confirmed: No update on non-self private orders.

[2022-06-17 04:28] darkfishy commented on #45
Confirmed.

[2022-06-17 04:40] darkfishy commented on #47
I spoke to soon. `CANCEL`led `LIMIT` orders are still being sent at the start of sub. This could be related to #48

@nitinef Which behaviour are you interested in? Receiving these orders in updates or not.
Said so, since they do have `consumer_id` set, they are not pending orders. FMClient `Order` objects can be queried for non/pending status.

[2022-06-17 04:43] darkfishy commented on #44
Thanks Jan. At this stage, Python FMClient does take it into account.

[2022-06-18 16:15] JanStureNielsen commented on #48
That's correct, @darkfishy: on cancel, both the original LIMIT order and the CANCEL order are sent to both parties. Once cancelled, subsequent subscription ORDERS-UPDATE won't include the pair. This behavior is what FM-2 does. If FM-3 behaves differently, that is a bug in FM-3.

[2022-06-18 16:51] JanStureNielsen commented on #47
I'm was able to reproduce this bug on FM-3 -- working on a fix.

[2022-06-19 13:54] #47 closed, assigned to JanStureNielsen

[2022-06-19 14:03] JanStureNielsen commented on #47
We now have an event testing application which successfully detected this bug and validated the fix in local development and on adhocmarkets.com -- so, finally, this bug should be squashed! Sorry about the back-n-forth on this.